
.outter{
    width:100%;
    background-color: white;
    overflow-y: scroll;
    height: 100vh;
    /* overflow: hidden; */
    /* overflow-x: scroll; */
}
.container0{
    background-color: white;
    display: grid;
    grid-template-columns: 670px 670px;
}
.container1{
    display: grid;
    grid-template-columns: 670px 670px;
    grid-template-rows: 185px 185px ;
    gap:10px;
}
.container1 > div{
    /* padding:20px; */
    border-radius: 5px;
    color:white;
}
.container1>div>div{
    margin:10px;
    padding: 5px;
    /* --------------------------------------------------------------- */
}
.container1 > div >div:nth-child(1){
    font-size: 15px;
}
.container1 > div >div:nth-child(2){
    font-size: 20px;
}
.container1 > div >div:nth-child(1){
    font-size: 13px;
}
.container1 > div:nth-child(1){
    background-color: rgb(59, 118, 238);
}
.container1 > div:nth-child(2){
    background-color: rgb(98, 199, 255);
}
.container1 > div:nth-child(3){
    background-color: rgb(166, 109, 212);
}
.container1 > div:nth-child(4){
    background-color: rgb(108, 212, 177);
}
.container0>div:nth-child(1){
    border: none;
    position: relative;
    /* background-color: aqua; */
    height: 60px;
}
.container0 >div:nth-child(1)>input{
    /* margin-left: 20px; */
    width: 300px;
    height: 60px;
    border-radius: 20px;
    outline: none;
    /* background-color: rgb(247, 250, 255); */
    border:none;
    background-color: white;
    padding:5px;
}


.container0 >div:nth-child(2)>div{
    padding:5px;
    /* position: relative;
    left: 570px; */
    /* height: 60px; */
    border-radius: 5px;
    float: left;
    outline: none;
    border-width: 1px;
    /* border:rgb(131, 140, 145) 1px solid; */
    border: none;
    margin-left: 2px;
    color: rgb(131, 140, 145);
    width: 120px;
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
    align-items: center;
    /* line-height: 60px; */
}
.container0 >div:nth-child(2)>div:nth-child(2){
    width: 5px;
    border-radius: 0px;
    height: 30px;
    /* background-color: white; */
}
.container0 >div:nth-child(2)>div>select{
    border: none;
    outline:none;
}
.container0>div:nth-child(2){
    display: flex;
    justify-content: right;
    border: none;
    outline:none;
}
.container0>div:nth-child(2)>div>input{
    border: none;
    outline:none;
    /* height: 30px; */
}
.container0 >div:nth-child(1)>i{
    font-size: 30px;
    color: rgb(131, 140, 145);
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 280px;
}
.container0{
    padding:20px;
    margin:10px;
    background-color: rgb(247, 250, 255);
    position: relative;
}
.container{
    padding:20px;
    margin:10px;
    background-color: rgb(247, 250, 255);
}
.container2{
    padding:20px;
    margin:10px;
    background-color: rgb(247, 250, 255);
    /* background-color: blue; */
    display: grid;
    grid-template-columns: 670px 670px;
    grid-template-rows: 300px;
    gap:10px;
}
.container2>div >div:nth-child(1){
    padding: 20px;
}
.container2>.thongke1{
    background-color: white;
    padding: 10px;
    border-radius:5px ;
}
.container2>.thongke2{
    padding: 10px;
    background-color:white;
    border-radius:5px ;
    position: relative;
}
/* .thongke1{
    padding:10px;
} */
 .thongke1{
    position: relative;
 }
.thongke1 > div:nth-child(1){
    margin-bottom:10px ;
    color: rgb(87, 82, 88);
}
.thongke2 > div:nth-child(1){
    margin-bottom:10px ;
    color: rgb(87, 82, 88);
}
.tableabove{
    position: absolute;
    /* height: calc(100% - 28px); */
    height: 207.3px;
    bottom: 0;
    left: 2;
    border-collapse: collapse;
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
    /* padding: 0px; */
}
/* .tableabove td{
    width: 46px;
} */
table {
    height: 207.3px;
    width: 100%;
    /* height: 207.4px; */
    height: 70%;
    border-collapse: collapse;
}
table, td {
    border: 1px solid #ccc;
}
td{
    min-width: 50px;
    width: 50px;
    height: 20px;
    padding: 0px;
}
.none{
    width: 46px;
    border-color: transparent;
    width: 6%;
}
.none1{
    width: 46px;
    /* bottom khác màu */
    border-left-color:transparent ;
    border-right-color:transparent;
    border-top-color:transparent;
    border-bottom-color:#ccc ;
}
.left{
    width: 46px;
    /* left khác màu */
    border-left-color:#ccc ;
    border-right-color:transparent;
    border-top-color:transparent;
    border-bottom-color:#ccc ;
}
.bottom{
    width: 46px;
    /* bottom khác màu */
    border-bottom-color:#ccc ;
    border-left-color:transparent;
    border-right-color:transparent;
    border-top-color:transparent;
}
.none2{ 
    width: 46px;
    /* right khác màu */
    border-bottom-color:transparent ;
    border-left-color:transparent;
    border-right-color:#ccc;
    border-top-color:transparent;
    width: 5%;
    position: relative;
}
.none3{
    width: 46px;
    /* top khác màu */
    border-bottom-color:transparent ;
    border-left-color:transparent;
    border-top-color:#ccc;
    border-right-color:transparent;
}
/* .empty{
    width: 7.4%;
} */
tr>td>span{
    text-align: right;
    width: 10px;
    position: absolute;
    bottom:-8px;
    right: 20px;
}
td{
    min-width: 50px;
    color:rgb(135, 136, 140);
    font-size:13px;
}

.tdabove{
    /* display: flex;
    align-items: flex-end; */
    display: flex;
    justify-content: center;
}
/* .tdabove >div {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
} */
.divout{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
#t1,#tt1{
    background-color: aqua;
    width: 100%;
    height: 100%;
}
#t2,#tt2{
    background-color: aqua;
    width: 100%;
    height: 90%;
}
#t3,#tt3{
    background-color: aqua;
    width: 100%;
    height: 80%;
}
#t4,#tt4{
    background-color: aqua;
    width: 100%;
    height: 70%;
}
#t5,#tt5{
    background-color: aqua;
    width: 100%;
    height: 60%;
}
#t6,#tt6{
    background-color: aqua;
    width: 100%;
    height: 50%;
}
#t7,#tt7{
    background-color: aqua;
    width: 100%;
    height: 40%;
}
#t8,#tt8{
    background-color: aqua;
    width: 100%;
    height: 30%;
}
#t9,#tt9{
    background-color: aqua;
    width: 100%;
    height: 10%;
}
#t10,#tt10{
    background-color: aqua;
    width: 100%;
    height: 30%;
}
#t11,#tt11{
    background-color: aqua;
    width: 100%;
    height: 70%;
}
#t12,#tt12{
    background-color: aqua;
    width: 100%;
    height: 80%;
}
.doanhthu{
    display:flex;
    /* background-color: aqua; */
}
.doanhthu>div{
    height: 50px;
    border:none;
    /* color:white; */
    color:#534936;
    font-size:18px;
    padding:10px
}
.doanhthu>div:nth-child(1){
    width:50%;
    border-radius: 5px 0px 0px 5px;
    display: flex;
    align-items: center;
}
.doanhthu>div:nth-child(2){
    width:25%;
    /* background-color: aqua; */
    /* border: #534936 1px solid; */
    display: flex;
    align-items: center;
}
.doanhthu>div:nth-child(3){
    width:25%;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    /* border: #534936 1px solid; */
}
.container3{
    padding:20px;
    margin:10px;
    background-color: rgb(247, 250, 255);
    
}
.inputdate{
    height:40px;
    padding:5px;
    border-radius: 20px;
    outline: none;
    border-width: 1px;
    margin-left:5px;
}
.getyearmonth{
    height:40px;
    padding:5px;
    border-radius: 20px;
    outline: none;
    border-width: 1px;
    margin-left:5px;
}
.thongkecustom{
    margin:10px;
    border: #244561 solid 1px;
    padding: 10px;
    border-radius: 5px;
    display: none;
}
.thongkesanpham{
    margin:10px;
    border: #244561 solid 1px;
    padding: 10px;
    border-radius: 5px;
    display: none;
}
.thongkecustom>div>div{
    display: flex;
    position: relative;
    margin:10px;
}
.thongkesanpham>div>div{
    display: flex;
    position: relative;
    margin:10px;
}
.cuswithhighestprofit,.cuswithlowestprofit{
    background-color: #ef9f9f;
    padding:20px;
    margin-top: 10px;
    border-radius: 5px;
    /* color: w; */
}
.productwithhighestprofit,.productwithlowestprofit{
    background-color: #dbf0ff;
    padding:20px;
    margin-top: 10px;
    border-radius: 5px;
}
.thongkecustom>div>div>div{
    width: 16.6%;
    /* vertical-align: middle; */
    height: 100px;
    display: flex;
    align-items: center;
    color:rgb(62, 75, 82);
    font-size: 17px;
}
.thongkesanpham>div>div>div{
    width: 16.6%;
    /* vertical-align: middle; */
    height: 100px;
    display: flex;
    align-items: center;
    color:rgb(62, 75, 82);
    font-size: 17px;
}

.thongkecustom>div>div:nth-child(1)>div {
    height: 50px;
    font-weight: bold;
    font-size: 20px;
}
.thongkesanpham>div>div:nth-child(1)>div {
    height: 50px;
    font-weight: bold;
    font-size: 20px;
}
.header{
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 23px;
    color: #244561;
    padding: 0px;
}
.thongkecustom>div>div:nth-child(1){
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    color:rgb(62, 75, 82);
}
.thongkesanpham>div>div:nth-child(1){
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    color:rgb(62, 75, 82);
}
.imgofcustomer{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
#timefirst{
    /* width: 50px;
    height: 50px; */
    /* background-color: aquamarine; */
    background-color: white;
    height: 30px;
}
#timesecond{
    background-color: white;
    height: 30px;
}
.imagethongke{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}