.container3{
    background-color: rgb(247, 250, 255);
    margin:10px;
    padding:20px;
    border-radius: 5px;
}
.outer{
    width:100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    background-color: white;

}
.container3>input{
    width: 300px;
    height: 60px;
    border-radius: 20px;
    outline: none;
    border:none;
    background-color: white;
    padding:5px;
}
.container3{
    position: relative;
}
.container3>i{
    font-size: 30px;
    color: rgb(131, 140, 145);
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 260px;
}
.outercontainer4{
    padding-bottom: 70px;
    background-color: rgb(247, 250, 255);
    /* background-color: #75ba75; */
    margin:10px;
    position: relative;
    border-radius: 5px;
}
#phantrangouter{
    position: absolute;
    left: 50%;
    bottom:20px; 
    transform: translate(-50%,50%);
}
#container4{
    /* position: absolute; */
    padding-top:20px;
    /* padding:0x; */
    /* display: flex; */
    /* display:grid; */
    /* grid-template-columns: 1190px; */
    /* grid-template-rows: 50px 50px 100px 200px 50px; */
    /* grid-auto-rows: 50px; */
}
.nutphantrang{
    /* border-radius: 10px; */
    text-align: center;
    line-height: 30px;
    display: inline-block;
    width: 50px;
    height: 30px;
    border: 1px solid salmon;
    /* border:none; */
    background-color: white;
    transform: translate(-50%,-50%);
    color:rgb(87, 82, 88) ;
}
#container4 >.clientouter{
    width: 100%;
    margin: 20px;
    display: flex;
    /* grid-template-columns:168.33px 168.33px 168.33px 168.33px 168.33px 168.33px; */
    /* grid-auto-rows: 50px; */
    /* gap:10px; */
    /* background-color: blue; */
}
.clientouter>div{
    width: 20%;
}
#clientouter{
    padding-bottom:10px;
}
#container4>#editclient{
    padding: 20px;
    display: flex;
    /* grid-template-columns:repeat(7,168.33px); */

    /* background-color: aqua; */
    background-color: rgb(254, 199, 111);
    border-radius: 0px 0px 10px 10px;
    /* grid-template-columns:168.33px 168.33px 168.33px 168.33px 168.33px 168.33px; */
    /* grid-auto-rows: 50px; */
    /* gap:10px; */
    /* width: 100%; */
}
#container4>#addclient{
    position: relative;
    padding: 20px;
    display: flex;
    /* grid-template-columns:repeat(7,168.33px); */
    /* background-color: aqua; */
    background-color: rgb(254, 199, 111);
    border-radius: 0px 0px 10px 10px;
    /* grid-template-columns:168.33px 168.33px 168.33px 168.33px 168.33px 168.33px; */
    /* grid-auto-rows: 50px; */
    /* gap:10px; */
    /* width: 100%; */
}
#container4 > #editclient>input{
    border-radius: 10px;
    outline:none;
    border: none;
    width: 70%;
    padding:10px;
    color:rgb(87, 82, 88);
}
#container4 > #addclient>input{
    border-radius: 10px;
    outline:none;
    border: none;
    width: 70%;
    padding:10px;
    color:rgb(87, 82, 88);
}
#container4 > #editclient>input:nth-child(6){
    background-color: #75ba75;
    border: 1px solid black;
    border-radius: 0px;
}
#container4 > #addclient>input:nth-child(6){
    background-color: #75ba75;
    border: 1px solid black;
    border-radius: 0px;
}
#container4 >.orderouter{
    /* display: flex; */
    /* grid-template-columns:1000px; */
    /* grid-template-rows: 50px 50px; */
    /* grid-auto-rows: 50px; */
    /* gap:10px; */
    /* background-color: rgb(166, 109, 212); */
    background-color: #62c7ff;
    /* width: 100%; */
    border-radius: 0px 0px 10px 10px;
}
#container4>.orderouter>div:nth-child(1)>div{
    font-weight: bold;
    width: 14%;
}
.orderouter > div{
    /* display:grid; */
    /* grid-template-columns:repeat(7,168.33px); */
    /* grid-template-columns:168.33px 168.33px 168.33px 168.33px 168.33px 168.33px; */
    /* grid-template-rows: 50px; */
    /* gap:10px; */
    padding: 20px;
    height: 40px;
    /*  */
    width: 100%;
    display: flex;
}
.orderouter>div>div{
    width: 14%;
}
#container4>div:nth-child(1)>div{
    font-weight: bold;
}
#container4>.clientouter>div{
    color:rgb(87, 82, 88) ;
}
.outerorder>.clientouter>div{
    /* color:white; */
    color:rgb(87, 82, 88) ;
}
.orderouter>div >div{
    /* /* color:white; */
    color:rgb(87, 82, 88) ;
}
#container4>.clientouter>div>i{
    margin:5px;
    color:rgb(87, 82, 88) ;
}
#container4>div>div> i{
    margin:5px;
    color:rgb(87, 82, 88) ;
}
#container4>div>div>div> i{
    margin:5px;
    color:rgb(87, 82, 88) ;
}
/* .container4>div> i:hover{
    cursor: pointer;
} */
.orderouter > div > div>input{
    border-radius: 10px;
    border: none;
    height: 30px;
    padding: 5px;
}
.active{
    background-color: salmon;
}
#yes:hover{
    cursor: pointer;
}
#no:hover{
    cursor: pointer;
}
.delete:hover{
    cursor: pointer;
}
#editclient{
    position: relative;
}
#editclient > .alertdivedit:nth-child(7){
    position: absolute;
    left: 16%;
    top:0;
}
#addclient > .alertdiv:nth-child(7){
    position: absolute;
    left: 16%;
    top:0;
}
#editclient > .alertdivedit:nth-child(8){
    position: absolute;
    left: 30%;
    top:0;
}
#addclient > .alertdiv:nth-child(8){
    position: absolute;
    left: 30%;
    top:0;
}
#editclient > .alertdivedit:nth-child(9){
    position: absolute;
    left: 44%;
    top:0;
}
#addclient > .alertdiv:nth-child(9){
    position: absolute;
    left: 44%;
}
#addclient > .alertdiv:nth-child(10){
    position: absolute;
    left: 58%;
    top:0;
}
#editclient > .alertdivedit:nth-child(10){
    position: absolute;
    left: 58%;
    top:0;
}
#addclient>div>i{
    color:red;
    font-size: 12px;
}
#editclient> .alertdivedit>i{
    color:red;
    font-size: 12px;
}
.editstatus>div{
    border: none;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 120px;
    height: 30px;
    background-color: white;
    color: palevioletred;
}
.editstatus>div>i::before ,.delivering>i::before ,.delivered>i::before{
    color: palevioletred;
    margin:2px;
    font-size: 13px;
}
.delivery{
    display: none;
}

.editstatus>div,.delivering,.delivered{
    color: #be95be;
    background-color: white;
    margin-top:2px;
    width: 120px;
    height: 20px;
}
.clientstatus> div,.paid> div,.unpaid> div {
    color: #be95be;
}
.paid,.unpaid,.innerclientstatus{
    text-align: center;
    /* border-radius: 5px; */
    border:1px solid #be95be;
    height: 25px;
    width: 70px;
    padding:2px;
}

.paid:hover,.unpaid:hover,.clientstatus:hover{
    cursor: pointer;
}
.paid > i,.unpaid > i,.clientstatus >div> i::before{
    color: #be95be;
    font-size: 10px;
}
.choosetime{
    /* width: 15px; */
    padding:2px;
    border: none;
    border-radius: 5px;
    
}
.divchoosetime{
    border: black;
    background-color:white;
    border-radius: 5px;
    width: 120px;
}
.imageofcustomer{
    border-radius: 100%;
    width: 60px;
    height: 60px;
    border: #75ba75 2px solid;
}
#printorder{

    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.5);
    position: fixed;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

}
#innerorder{
    background-color: #fec76f;
}
#printorder > div{
    width: 80%;
    position: relative;
    border-radius: 10px;
}
#printorder>div>i{
    position: absolute;
    right: 5px;
    font-weight: bold;
    top: 5px;

}
#editkh{
    border-radius: 5px;
    background-color: #be95be;
    padding:5px;
}
#printorder > div>div:nth-child(2){
    font-weight: bold;
    color: black;
}
#printorder > div>div{
    display: flex;
    color: rgb(87, 82, 88) ;
    border: none;
    /* border-radius: 5px; */
    padding:20px;
}
#taketimefirst,#taketimesecond{
    border: 1px rgb(138, 106, 145) solid;
    border-radius: 5px;
}
#printorder>div>div>div{
    width: 20%;
    text-align: center;
}
#sectioneditclient{
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.5);
    position: fixed;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;

    display: none;
}
#sectioneditclient> div{
    padding:20px;
    border-radius: 5px;
    background-color: #fec76f;
    width: 30%;
    position: relative;
    text-align: center;
    color: rgb(87, 82, 88) ; 
    border: 1px solid rgba(0, 0, 0,0.5);
}
#sectioneditclient> div>div:nth-child(1){
    text-align: center;
    color: #6dbfb8 ; 
    font-weight: bold;
    padding: 10px;
}
#sectioneditclient>div>i{
    position: absolute;
    right: 5px;
    font-weight: bold;
    top: 5px;
}
#sectioneditclient>div>div>form>label{
    color: rgb(87, 82, 88) ;   
}
#sectioneditclient>div>div>form>input{
    padding:5px;
    border-radius: 10px;
    outline:none;
    margin:5px;
}
#sectionaddclient{
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.5);
    position: fixed;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;

    display: none;
}
#submitkhoa{
    background-color: #6dbfb8;
    border-radius: 5px;
    width: 60px;
    height: 30px;
}
#sectionaddclient> div{
    padding:20px;
    border-radius: 5px;
    background-color: #fec76f;
    width: 30%;
    position: relative;
    text-align: center;
    color: rgb(87, 82, 88) ; 
    border: 1px solid rgba(0, 0, 0,0.5);
}
#sectionaddclient>div>i{
    position: absolute;
    right: 5px;
    font-weight: bold;
    top: 5px;
}
#sectionaddclient>div>div>form>label{
    color: rgb(87, 82, 88) ;   
}
#sectionaddclient>div>div>form>input{
    padding:5px;
    border-radius: 10px;
    outline:none;
    margin:5px;
}
#khoaclient{
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.5);
    position: fixed;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
#khoaclient >div>div:nth-child(1){
    font-weight: bold;
}
#khoaclient >div{
    padding:20px;
    border-radius: 5px;
    background-color: #fec76f;
    width: 50%;
    position: relative;
    color: rgb(87, 82, 88) ; 
    border: 1px solid rgba(0, 0, 0,0.5);
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 600px;

}
.printkh{
    font-weight: bold;
}
#khoaclient>div>label{
    padding: 10px;
}
#khoaclient>div>div{
    margin:10px;
}
.printkh{
    padding:10px;
    border-radius: 5px;
    border: 1px solid black;
}
.printkh>div{
    display: flex;
    margin: 10px;
}
.printorderkh{
    font-weight: bold;
    width: 100%;
    padding:10px;
    border-radius: 5px;
    border: 1px solid black;
    /* height: 200px; */

}
.contenthienkhoa{
    font-weight: bold;
}
.printkh>div>div{
    width: 25%;
}
.printorderkh>div>div{
    width: 25%;
}
.printorderkh>div{
    display: flex;
    margin: 10px;
}
#inputkhoand{
    border-radius: 5px;
    outline:none;
    width: 50%;
}
#khoaclient>div>i{
    position: absolute;
    right: 5px;
    font-weight: bold;
    top: 5px;
}
#khoaclient>div>i{
    position: absolute;
    right: 5px;
    font-weight: bold;
    top: 5px;
}
#buttonkhoa{
    border-radius: 5px;
    padding:5px;
    width: 60px;
    height: 30px;
    background-color: #75ba75;
}
