:root{
    --mau1: #D9F3F3;
}


*{
    box-sizing: border-box;
    font-size: 16px;
}

body{
    margin: 0px;
    padding: 0px;
}

#Header{
    background-color: var(--mau1);

    margin: 0px 5px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#Header .logo{
    width: 5%;
    margin-left: 10px;
}

#Header .logo img{
    width: 100%;
}

#Header .shop-name{
    font-size: 20px;
    font-weight: bold;
}

#Header .info{
    width: 25%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

#Header .info .search{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#Header .info .search .btn-search{
    border: 2px solid black;
    margin-left: 2px;
    cursor: pointer;
    background-color: grey;
    font-weight: bold;
    border-radius: 5px;
}

#Header .info .search .btn-search:hover{
    background-color: aquamarine;
    border: 3px solid aquamarine
}

#Header .info .logout{
    cursor: pointer;
    color: purple;
    transition: color 0.25s linear ;
}

#Header .info .logout:hover{
    color:blue;
}

#Header .navbar{
    width: 10%;
    display:flex;
    justify-content: space-between;
}

#Header .navbar div{
    cursor: pointer;
    corlor:black;
    transition: color 0.2s linear;
}

#Header .navbar .merchandise:hover{
    color: white;
}


#Header .navbar .social{
    position: absolute;
    top: 45px;
    background-color: var(--mau1);
    display:none;
    cursor: pointer;
}
#Header .navbar .social div{
    margin: 10px;
    color: black;
}

#Header .navbar .social a{
    margin: 10px;
    text-align: left;
}

#Header .navbar .social a:hover{
    color:blue;
}


#Header .navbar .help:hover{
    color: white;
}

#Header .navbar .help:hover .social{
    display:block;

}

