.container3{
    background-color: rgb(247, 250, 255);
    margin:10px;
    padding:20px;
    border-radius: 5px;
}
.outer{
    width:100%;
    height: 100vh;
    overflow: auto;
    background-color: white;
}
.container3>input{
    width: 300px;
    height: 60px;
    border-radius: 20px;
    outline: none;
    border:none;
    background-color: white;
    padding:5px;
}
.container3{
    position: relative;
}
.productinner>div>div{
    /* white-space: nowrap;  */
    /* Ngăn không cho xuống dòng */
    overflow: hidden;    /* Ẩn nội dung tràn */
} 
.head>div{
    width: 16.6%;
}
.cuswithhighestprofit>div>div{
    width: 16.6%;
}
.cuswithlowestprofit>div>div{
    width: 16.6%;
}
.container3>i{
    font-size: 30px;
    color: rgb(131, 140, 145);
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 380px;
}
.outercontainer4{
    padding-bottom: 70px;
    background-color: rgb(247, 250, 255);
    margin:10px;
    position: relative;
    border-radius: 5px;
    max-height: 100vh;
}
#phantrangouter{
    position: absolute;
    left: 50%;
    bottom:20px; 
    transform: translate(-50%,50%);
}
#container4{
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top:20px;
}
.nutphantrang{
    cursor:pointer;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    width: 50px;
    height: 30px;
    border: 1px solid salmon;
    background-color: white;
    transform: translate(-50%,-50%);
    color:rgb(87, 82, 88) ;
}
#container4 >.clientouter{
    width: 100%;
    margin: 20px;
    display: flex;
}
.clientouter>div{
    width: 30%;
}
.clientouter>div:nth-child(4){
    width: 10%;
}
.clientouter>div{
    font-size: 20px;
}
#clientouter{
    padding-bottom:10px;
}
#container4>#editclient{
    padding: 20px;
    display: flex;
    background-color: rgb(254, 199, 111);
    border-radius: 0px 0px 10px 10px;
}
#container4>#addclient{
    position: relative;
    padding: 20px;
    display: flex;
    background-color: rgb(254, 199, 111);
    border-radius: 0px 0px 10px 10px;
}
#container4 > #editclient>input{
    border-radius: 10px;
    outline:none;
    border: none;
    width: 70%;
    padding:10px;
    color:rgb(87, 82, 88);
}
#container4 > #addclient>input{
    border-radius: 10px;
    outline:none;
    border: none;
    width: 70%;
    padding:10px;
    color:rgb(87, 82, 88);
}
#container4 > #editclient>input:nth-child(6){
    background-color: #75ba75;
    border: 1px solid black;
    border-radius: 0px;
}
#container4 > #addclient>input:nth-child(6){
    background-color: #75ba75;
    border: 1px solid black;
    border-radius: 0px;
}
#container4 >.orderouter{
    background-color: #62c7ff;
    border-radius: 0px 0px 10px 10px;
}
#container4>.orderouter>div:nth-child(1)>div{
    font-weight: bold;
    width: 14%;
}
.orderouter > div{
    padding: 20px;
    height: 40px;
    width: 100%;
    display: flex;
}
#innerorder>div{
    min-height: 100px;
    position: relative;
    margin:20px;
    padding:10px;
    border: 1px solid #3b3737;
    border-radius: 10px;
    background-color: #ef9f9f;
}
.thehead>div{
    font-size: 17px;
    font-weight: bold;
}
/* #innerorder>div:hover{
    margin:10px;
    padding:10px;
    border:none;
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    background-color: #eabe76;
} */
#innerorder>div>div{
    padding:10px;
    display: flex;
}
#innerorder>div>div>div:nth-child(1){
    width: 5%;
}
#innerorder>div>div>div:nth-child(2){
    width: 40%;
}
#innerorder>div>div>div:nth-child(3){
    width: 15%;
}
#innerorder>div>div>div:nth-child(4){
    width: 15%;
}
#innerorder>div>div>div:nth-child(5){
    width: 25%;
}
#innerorder{
    width: 40%;
    background-color: #fec76f;
    max-height: 70%;
    overflow-y: scroll;
    overflow: auto;
    position: relative;
    border-radius: 10px;
}
.orderouter>div>div{
    width: 14%;
}
#container4>div:nth-child(1)>div{
    font-weight: bold;
}
#container4>.clientouter>div{
    color:rgb(87, 82, 88) ;
}
.outerorder>.clientouter>div{
    color:rgb(87, 82, 88) ;
}
.orderouter>div >div{
    color:rgb(87, 82, 88) ;
}
#container4>.clientouter>div>i{
    margin:5px;
    color:rgb(87, 82, 88) ;
}
#container4>div>div> i{
    margin:5px;
    color:rgb(87, 82, 88) ;
}
#container4>div>div>div> i{
    margin:5px;
    color:rgb(87, 82, 88) ;
}
.orderouter > div > div>input{
    border-radius: 10px;
    border: none;
    height: 30px;
    padding: 5px;
}
.active{
    background-color: salmon;
}
#editclient{
    position: relative;
}
#editclient > .alertdivedit:nth-child(7){
    position: absolute;
    left: 16%;
    top:0;
}
#addclient > .alertdiv:nth-child(7){
    position: absolute;
    left: 16%;
    top:0;
}
#editclient > .alertdivedit:nth-child(8){
    position: absolute;
    left: 30%;
    top:0;
}
#addclient > .alertdiv:nth-child(8){
    position: absolute;
    left: 30%;
    top:0;
}
#editclient > .alertdivedit:nth-child(9){
    position: absolute;
    left: 44%;
    top:0;
}
#addclient > .alertdiv:nth-child(9){
    position: absolute;
    left: 44%;
}
#addclient > .alertdiv:nth-child(10){
    position: absolute;
    left: 58%;
    top:0;
}
#editclient > .alertdivedit:nth-child(10){
    position: absolute;
    left: 58%;
    top:0;
}
#addclient>div>i{
    color:red;
    font-size: 12px;
}
#editclient> .alertdivedit>i{
    color:red;
    font-size: 12px;
}
.editstatus>div{
    border: none;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    width: 120px;
    height: 30px;
    background-color: white;
    color: palevioletred;
}

.imageofcustomer{
    border-radius: 100%;
    width: 60px;
    height: 60px;
    border: #75ba75 2px solid;
}
#printorder{
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.5);
    position: fixed;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

}
#innerorder{
    display: block;
}
#innerorder{
    max-width: 60%;
    background-color: #fec76f;
    max-height: 70%;
    overflow-y: scroll;
    overflow: auto;
    position: relative;
    border-radius: 10px;
}
#innerorder>div:nth-child(1){
    font-weight: bold;
    color: black;
}
#buttonclick{
    padding:5px;
    background-color: #be95be;
    width: fit-content;
}

#printorder>#innerorder>i{
    position: absolute;
    right: 5px;
    font-weight: bold;
  top: 5px;

}
#innerorder >div{
    padding:5px;
}
#editkh{
    border-radius: 5px;
    background-color: #be95be;
    padding:5px;
}
.print{
    color: rgb(87, 82, 88) ;
    border: none;
    padding:5px;
}
#taketimefirst,#taketimesecond{
    border: none;
    border-radius: 5px;
    width:40px;
    margin: 5px;

}
#search{
    font-size: 20px;
    width: 400px;
    height: 80px;
}
/* #printorder>#innerorder>div>div>div>div{
    width: 10%;
    text-align: center;
} */
/* #printorder>div>div>div:nth-child(5){
    width: 400px;
    text-align: center;
    padding: 5px;
} */
#sectioneditclient{
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.5);
    position: fixed;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;

    display: none;
}
#sectioneditclient> div{
    padding:5px;
    border-radius: 5px;
    background-color: #fec76f;
    width: 30%;
    position: relative;
    text-align: center;
    color: rgb(87, 82, 88) ; 
    border: 1px solid rgba(0, 0, 0,0.5);
}
#sectioneditclient> div>div:nth-child(1){
    text-align: center;
    color: #6dbfb8 ; 
    font-weight: bold;
    padding: 10px;
}
#sectioneditclient>div>i{
    position: absolute;
    right: 5px;
    font-weight: bold;
    top: 5px;
}
#editkh{
    float: right;
}
#sectioneditclient>div>div>form>label{
    color: rgb(87, 82, 88) ;   
}

#sectioneditclient>div>div>form>input{
    padding:5px;
    border-radius: 10px;
    outline:none;
    margin:5px;
}
#sectionaddclient{
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.5);
    position: fixed;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;

    display: none;
}
#submitkhoa{
    background-color: #6dbfb8;
    border-radius: 5px;
    width: 60px;
    height: 30px;
}
#sectionaddclient> div{
    padding:5px;
    border-radius: 5px;
    background-color: #fec76f;
    width: 30%;
    position: relative;
    text-align: center;
    color: rgb(87, 82, 88) ; 
    border: 1px solid rgba(0, 0, 0,0.5);
}
#sectionaddclient>div>i{
    position: absolute;
    right: 5px;
    font-weight: bold;
    top: 5px;
}
#sectionaddclient>div>div>form>label{
    color: rgb(87, 82, 88) ;   
}
#sectionaddclient>div>div>form>input{
    padding:5px;
    border-radius: 10px;
    outline:none;
    margin:5px;
}
#khoaclient{
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.5);
    position: fixed;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
#khoaclient >div>div:nth-child(1){
    font-weight: bold;
}
#khoaclient >div{
    padding:20px;
    border-radius: 5px;
    background-color: #fec76f;
    width: 50%;
    position: relative;
    color: rgb(87, 82, 88) ; 
    border: 1px solid rgba(0, 0, 0,0.5);
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 600px;

}
.printkh{
    font-weight: bold;
}
#khoaclient>div>label{
    padding: 10px;
}
#khoaclient>div>div{
    margin:10px;
}
.printkh{
    width: 100%;
    padding:10px;
    border-radius: 5px;
    border: 1px solid black;
}
.printkh>div{
    display: flex;
    margin: 10px;
}
.printorderkh{
    font-weight: bold;
    width: 100%;
    padding:10px;
    border-radius: 5px;
    border: 1px solid black;
}
.contenthienkhoa{
    font-weight: bold;
}
.printkh>div>div{
    width: 25%;
}
.printorderkh>div>div{
    width: 25%;
}
.printorderkh>div{
    display: flex;
    margin: 10px;
}
#inputkhoand{
    border-radius: 5px;
    outline:none;
    width: 50%;
}
#khoaclient>div>i{
    position: absolute;
    right: 5px;
    font-weight: bold;
    top: 5px;
}
#khoaclient>div>i{
    position: absolute;
    right: 5px;
    font-weight: bold;
    top: 5px;
}
#buttonkhoa{
    border-radius: 5px;
    padding:5px;
    width: 60px;
    height: 30px;
    background-color: #75ba75;
}
.Delivering{
    display: none;
}
.Delivered{
    display: none;
}
.Delivering,.Delivered,.Deliver{
    border:none;
    /* border-radius: 5px; */
    padding:5px;
    background-color: #75ba75;
    text-align: center;
}
.Delivering:hover,.Delivered:hover,.Deliver:hover{
    cursor: pointer;
}
.outerdelivery{
    background-color: #75ba75;
    display: flex;
}
.outerdelivery{
    display: block;
}
.bokhoa{
    background-color: #be95be;
    padding:5px;
    width: fit-content;
}
.thestatus{
    position: absolute;
    right: 6px;
    top: -10px;
    display: inline-block;
    width: fit-content;
    z-index: 100px;
}
.outerdelivery{
    border-radius: 5px;
    /* background-color: #e2564d; */
    width: 130px;
    padding:5px;
}
.deliver{
    border-bottom: 1px solid black;
    background-color: #be95be;
    width: 120px;
    padding:5px;
}
.delivering{
    border-bottom: 1px solid black;
    width: 120px;
    padding:5px;
}
#contentkhoa{
    font-size: 20px;
    font-weight: bold;
    color:#e2564d;
}
#contentkhoa>div:nth-child(1)>div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius:10px ;
    /* background-color: white; */
}
#contentkhoa>div:nth-child(1)>div:nth-child(1)>div{
    background-color: #6dbfb8;
    border-radius: 5px;
    padding:10px
}
#contentkhoa>div:nth-child(1)>label{
    margin-top:10px;
}
#khoaclient>div{
    border-radius: 10px;
}
/* #printorder{
}

#printorder.hide{
} */

/*==================thoong tin admin============*/
#ttadmin{
    position:absolute;
    top:0;right:0;left:0;bottom: 0;
    /* width:100%; */
    display: none;
    /* width:max-content; */
    display: none;
    justify-content: center;
    /* align-items: center; */
    z-index: 998;
    background-color: #f5f5f5;

}
.form-ttadmin{
    width:70%;
    border:solid 1px gray;
    padding:20px;
    padding-bottom: 20px;
    background-color: white;
    margin-top: 30px;
    height: 450px;
}
.form-ttadmin input{
    padding:7px;
    width:80%;
}
.form-ttadmin button{
    padding: 7px;
}
.title-form p{
    font-size: 12px;
    padding:3px;
    margin: 0;
}
.title-form h3{
    margin: 0;
}
.title-form{
    padding: 10px 20px;
    border-bottom: gray solid 1px;
}
.thongtin{
    float:left;
    width:39%;
}
.matkhau{
    float:right;
    width:41%;
}
#close-tt-Admin{
   position: absolute;
   top:25px;right:25px;
   font-size: x-large;
}
#close-tt-Admin:hover{
    color:red;
}
