#Display .merchandise #prod-edit-display{
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
}
#Display .merchandise #prod-edit-header{
    border-bottom: 1px solid black;
    padding: 5px;
    background-color: var(--mau1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Display .merchandise #prod-edit-header nav{
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 1rem;
}



#Display .merchandise #prod-edit-header a{
    background-color: rgb(202, 26, 26);
    color: white;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px; 
    cursor: pointer;
}
#Display .merchandise #prod-edit-header a:hover{
    background-color: rgb(250, 40, 40);
}
#Display .merchandise #prod-edit-header a:active{
    background-color: rgb(250, 80, 80);
}
#Display .merchandise #buttons{
    border-top: 1px solid black;
    background-color:var(--mau1);
    padding: 10px;
    display: flex; 
    justify-content: center;
}
#Display .merchandise #main-content{
    flex-grow: 1;
    overflow-y: auto;
}
#Display .merchandise #buttons button{
    margin: 0 7px;
    padding: 10px;
    cursor: pointer;
    width: 20%;
}
#Display .merchandise .button1, .button2, .button3{
    border-radius: 5px;
}
#Display .merchandise .button1{
    background-color: rgb(3, 208, 16);
    border: 1px solid rgb(3, 208, 16);
    width: 50px;
    height: 40px;
    cursor:pointer;
    margin-right: 50px;
}

#Display .merchandise .button1:hover{
    background-color: rgb(117, 255, 117);
    border: 1px solid rgb(117, 255, 117);
}


#Display .merchandise .button2{
    background-color: rgb(60, 255, 60);
}
#Display .merchandise .button3{
    background-color: rgb(252, 52, 52);
}
#Display .merchandise .table{
    gap: 20px;

    border-bottom: 3px solid black;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
#Display .merchandise .table img{
  width: 10%;
}
#Display .merchandise .product-info{
    display:inline-block;
    width: 50%;
}
#Display .merchandise .edit-buttons1, .edit-buttons2{
    margin-right: 10px;
    padding: 10px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}
#Display .merchandise .edit-buttons1{
    background-color: rgb(62, 199, 199);
}
#Display .merchandise .edit-buttons1:hover{
    background-color:  rgb(74, 250, 250);
}
#Display .merchandise .edit-buttons1:active{
    background-color:  rgb(158, 255, 255);
}
#Display .merchandise .edit-buttons2{
    background-color: rgb(253, 41, 41);
}
#Display .merchandise .edit-buttons2:hover{
    background-color: rgb(252, 68, 68);
}
#Display .merchandise .edit-buttons2:active{
    background-color: rgb(255, 121, 121);
}
#Display .merchandise .button-group{
    display: inline-block;
    gap: 1px;
}
#Display .merchandise #edit-products{
    padding: 10px;
}
#Display .merchandise .pagination-buttons{
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    margin-left: 80px;
}
#Display .merchandise .page-button {
    padding: 8px 12px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}
#Display .merchandise .page-button:hover{
    background-color: rgb(180, 178, 178);
}
#Display .merchandise .page-button:active{
    background-color: rgb(224, 223, 223);
}


#Display .merchandise{
    width: 100%;
    display:none;
}

#Display .merchandise .add-form .head{
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid grey;
}

#Display .merchandise .add-form .head i{
    border: 3px solid red;
    border-radius: 5px;
    background-color: red;
    width: 10%;
    text-align: center;
    cursor:pointer;
}
#Display .merchandise .add-form .head i:hover{
    border: 3px solid rgb(252, 68, 68);
    background-color: rgb(252, 68, 68);
}

#Display .merchandise .add-form .quanity{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#Display .merchandise .add-form .upload{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#Display .merchandise .add-form .upload input{
    width: 28%;

}
#Display .merchandise .add-form .name{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#Display .merchandise .add-form .price{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#Display .merchandise .add-form .category{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#Display .merchandise .add-form .category select{
    text-align: left;
    width: 28%;
}

#Display .merchandise .add-form .description{
    display:flex;
    justify-content: space-between;
    align-items: center;
}



#Display .merchandise .add-form div div{
    width: max-content;
}


#Display .merchandise .add-form div{
    margin: 3px
}

#Display .merchandise .add-form{
    background-color: white;
    padding: 10px;
    width: 50%;
    position: absolute;
    top: calc(50% - 25%);
    left: calc(40% - 50%/2) ;
}


#Display .merchandise .add{
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 100%;

}

#Display .merchandise .btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#Display .merchandise .add-form .btn-add{
    background-color: rgb(23, 253, 23);
    cursor: pointer;
    border-radius: 5px;
    border: 3px solid  rgb(23, 253, 23);
}

#Display .merchandise .btn-add:hover{
    background-color: aqua;
    border: 3px solid  aqua;
}

#Display .merchandise .add-form .btn-reset{
    background-color: yellow;
    cursor:pointer;
    border: 3px solid yellow;
    border-radius: 5px;
}

#Display .merchandise .add-form .btn-reset:hover{
    background-color:  orange;
    border: 3px solid orange; 
}





#Display .merchandise .find i{
    cursor: pointer;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

#Display .merchandise .find .inner{
    position: absolute;
    right: 2px;
    top:6%;
    background-color: white;
    padding: 10px;
}

#Display .merchandise .find .inner div{
    display: inline-block;
    cursor: pointer;
    border: 3px solid red;
    color: red;
}

