#Display .order{
	border:  3px solid red;
}

#Display .order .head{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#Display .order .time>div{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#Display .order .filterbtn{
	border:  3px solid black;
	cursor: pointer;
}	

#Display .order .filterbtn:hover{
	background-color: red;
}

#Display .order .find{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 20%;
	border: 3px solid orange;
}

#Display .otder .find .findbtn{
	width: 30%;
	background-color: black;
}

#Display .order .find .timkiem{
	width: 50%;
	border: 3px solid black;
}