@media (max-width: 768px){
	#Menu{
		display: none;

		top:0;
		left: 0;
		z-index: 1;
		width: max-content;
		background-color: #F3EFEF;
	}

	#Menu div{
		margin-top: 15px;
		width: max-content;
	}



	#Header img{
		display:none;
	}

	#Header .menu-bar{
		display:block;
		text-align: center;
		cursor:pointer;
		height: 55px;
		width: 10%;
		line-height: 55px;
	}


	#Display .order{
		width: 100%;
		padding: 0px;
	}


	#Display .order .head{
		width: 768px;
	}

	#Menu .close_menu{
		display: block;
		left: 262px;
		top: -7px;
	}

	#Display .order .foot .pagination{
		width: 768px;
	}

		#Display .order .foot{
			width: 768px;
		}

		

		#Display .merchandise{
		width: 768px;
		}	

		#Display .merchandise #main-content{
			width: 100%;
			padding: 0px;
		}


		#Display .order .form-donhang{
			width: 700px;
			overflow: auto;
		}


		#Display .order .form-donhang .khachhang{
			width: max-content;
			padding: 15px;
		}

		#Display .order .main table{
			width: 1000px;
		}


		#Header .inner{
			width: 768px;
		}

}