:root{
    --xamdam: rgb(197, 196, 196);
    --xanhdam: rgb(112, 227, 227);
}

th{
    padding:10px;
}
.cart-item > button{
    display: flex;
    flex-direction: column; 
    margin-bottom: 5px;
    width:40px;
}

.navbar_cart-warp {
    position: relative;
}

#giohang{
    position: fixed;
    top:0;right:0;bottom:0;left:0;
    display: none;
}
#close-cart{
    position: absolute;
    top:7px;
    right:7px;
    padding:7px;
    font-size: x-large;
}
#close-cart:hover{
    color: red;
}

.showcart{
    position: absolute;
    top:130px;
    right:50px;
    min-width: 300px;
    border:solid 1px black;
    background-color: var(--xam);
    padding:20px;
    padding-bottom: 20px;
    border-radius: 5px;
    max-height: 75%;
    overflow-y: auto;

}
.showcart >h2{
    margin-left: 40%;
}

.cart-item-img{
    width:100px;
    height:auto;
}

.row-start{
    background-color: var(--xamdam);
}
.row-end{
    background-color: var(--xamdam);

}

#cart-count{
    position: absolute;
    top: -3px;
    right: -3px;
    padding: 1px 6px;
    color: var(--xanhnhat);
    font-size: 1.4rem;
    line-height: 1.6rem;
    border-radius: 10px;
    border: 2px solid var(--xanhnhat);
    background-color: var(--white);
}

#deleteAll{
    padding: 7px;
    margin-top: 20px;
    background-color: var(--xanhnhat);
    border: solid 1px black;
    border-radius: 5px;
    margin-left: 35%;
}
#deleteAll:hover{
    background-color: var(--xanhdam);
}
#thanhtoan{
    padding:7px;
    margin-top: 20px;
    background-color: var(--xanhnhat);
    border: solid 1px black;
    border-radius: 5px;
    margin-left: 5%;
}
#thanhtoan:hover{
    background-color: var(--xanhdam);
}