#dang-nhap{
    background-color: var(--xam);
    width:100%;
    height:100vh;
    position: fixed;
    z-index: 11;
    top:0; right:0; bottom:0; left:0;
    display:none;
    justify-content: center;
    align-items: center;
}


.form-dang-nhap{
    background-color: #fff; 
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width:40%;
    height:auto;
    position: relative;
}


.form-dang-nhap > h2{
    text-align: center; 
    margin-bottom: 20px;
}

.form-dang-nhap > div input{
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
}

.form-dang-nhap > div label{
    display: block; margin-bottom: 5px;
}


.form-dang-nhap > button{
    width: 100%; 
    padding: 10px; 
    background-color: #5cb85c; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer;
    position: relative;
}


.nut-tat-dn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    transition: background-color 0.3s;
}

.nut-tat-dn:hover {
    background-color: darkred;
    color: white;

}





#dang-ky{
    background-color: var(--xam);
    width:100%;
    height:100vh;
    position: fixed;
    z-index: 11;
    top:0; right:0; bottom:0; left:0;
    display:flex;
    align-items: center;
    justify-content: center;
    display:none;
}

.form-dang-ky{
    background-color: #fff; 
    padding: 20px; 
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    width: 40%; 
    min-width: 200px;
    height:auto;
    position: relative;
}

.nut-tat-dk {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    transition: background-color 0.3s;
}

.nut-tat-dk:hover {
    background-color: darkred;
    color: white;

}

.form-dang-ky > h2{
    text-align: center; margin-bottom: 20px;
}

.form-dang-ky > div{
    margin-bottom: 15px;
}

.form-dang-ky > div > input{
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
}

.form-dang-ky > div > label{
    display: block; margin-bottom: 5px;
}

.form-dang-ky > button{
    width: 100%; 
    padding: 10px; 
    background-color: #5cb85c; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer;
}
