#payment{
    position: fixed;
    top:0;right:0;bottom:0;left:0;
    width: 100vw;
    height:100vh;
    background-color: var(--xanhnhat);
    display: none;
    z-index: 3;
}

#paymentForm {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 35%;
    margin-left: 35%;
    position: relative;
    padding-bottom: 55px;
    max-height: 1000px; 
    overflow-y: auto;
}

#paymentForm label {
    font-weight: bold;
}

#paymentForm input, #paymentForm select {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}


#nutThanhToan{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color:black;
    position: absolute;
    right: 50%;
    margin-top:10px;
}
#nutThanhToan:hover{
    background-color: #5cb85c;
    color: white;

}
#nutHuyTT{
    /* background-color: #f44336; */
    border: none;
    position: absolute;
    left: 53%;
    margin-top:10px;
    padding:10px 20px;
}
#nutHuyTT:hover{
    background-color: #f44336;

}