#payment{
    position: fixed;
    top:0;right:0;bottom:0;left:0;
    width: 100vw;
    height:100vh;
    background-color:var(--xanh);
    display: none;
    z-index: 3;
}

/* h2{
    margin-left: 35%;
} */

#paymentForm {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 35%;
    margin-left: 35%;
    margin-top:5%;
    position: relative;
    padding-bottom: 55px;
    max-height: 80%; 
    border:solid 1px black;
    overflow-y: auto;
}

#paymentForm label {
    font-weight: bold;
}

#paymentForm input, #paymentForm select {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}


#nutThanhToan{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color:black;
    background-color: var(--xanhnhat);
    position: absolute;
    right: 48%;
    border: solid 1px black;
    border-radius: 5px;
    margin-top:10px;
}
#nutThanhToan:hover{
    background-color: var(--xanhdam);
}
#nutHuyTT{
    border: none;
    position: absolute;
    left: 55%;
    margin-top:10px;
    background-color: var(--xanhnhat);
    border: solid 1px black;
    padding:10px 20px;
    border-radius: 5px;
}
#nutHuyTT:hover{
    background-color: var(--xanhdam);

}